        .header{
            margin: 4px;
            font-size: 25px;
            text-align: center;
            background: cadetblue;
            color: white;
            border-radius: 70px;
        }
        .subheader{
            margin: 4px;
            margin-left: 25px;
            font-size: 16px;
            text-align: center;
            background: cornflowerblue;
            color: white;
            border-radius: 70px;
        }
        .edtext{
            font-size: 12px;
            text-align: center;
            width: 50%;
        }
        .edtextsubheder
        {
            font-size: 9px;
            text-align: center;
            vertical-align: super;
            width: 49%;
        }
        .edbutton
        {
            font-size: 12px;
            width: 100px;
        }
        .edbuttonX
        {
            font-size: 12px;
            width: 48%;
            background: red;
            color: white;
            border: 0px;
        }
        .buttonPost
        {
            font-size: 13px;
            width: -webkit-fill-available;
            border: 0px;
            text-align: left;
            border-radius: 6px;
        }
        .buttonPostChr
        {
            font-size: 13px;
            width: 70px;
            border: 0px;
            text-align: left;
            border-radius: 6px;
        }

        .edtextPar{
            font-size: 10px;
            text-align: center;
            width: 32%;
            border: 1px solid cornflowerblue;
            vertical-align: text-top;
        }
