<style>
    .root{
        width: 100%;
        background-color: #FFF;
        padding: 6px 77px !important;
        max-width: 1100px;
    }
    .table{
        width: 100%;
        background-color: #FFF;
        border-collapse: collapse;
    }
    .table td{
        vertical-align: top;
    }
    .progress-container{
        position: relative;
    }
    .progress-container .progress{
        position: absolute;
        left: 0;
        top: 0;
        height: 44px;
        background-color: #61d836;
        border-right: 2px solid #61d836;
    }
    .slider-td{
        padding-right: 20px;
    }
    .slider tr:nth-child(1){
        background-color: #f8ba00;
    }
    .slider td{
        border: none;
    }
    .slider tr:nth-child(1) td,
    .slider tr:nth-child(2) td{
        padding: 13px 10px;
    }
    .slider tr:nth-child(1) td:not(:first-child):before{
        content: '';
        border: 1px solid #FFF;
        margin: 15px 0 0 -11px;
        height: 15px;
        position: absolute;
    }
    .masters{
        margin-top: 50px;
    }
    .masters tr:nth-child(2n){
        background-color: #f2f2f2;
    }
    .masters td, 
    .bonuses td{
        padding: 10px;
    }
    .masters td{
        font-size: 13px;
    }
    .masters td:nth-child(2){
        border-right: 20px solid #FFF;
    }
    .bonuses td{    
        font-size: 12px;
        line-height: 24px;
    }
    .price-progress-container{
        position: relative;
        height: 55px;
    }
    .price-progress-container .price{
        padding: 14px 10px;
        position: absolute;
        font-weight: bold;
        margin-bottom: -5px;
        border-left: 2px solid #61d836;
        font-size: 1.7rem;
        height: 60px;
    }
    .price-progress-container .price > .left{
        position: absolute;
        transform: translateX(-100%);
        left: -10px;
    }
    .value{
        position: relative;
    }
    .bonuses td:first-child{
        text-align: right;
        font-weight: bold;
        font-size: 20px;
    }
    .table.no-width{
        width: initial;
    }
</style>
<script>
var bflag=1;
</script>
<div class="root" style="padding: 6px 51px;">
    <div class="price-progress-container">
        <span class="price" style="left: currentPosition;"><span class="left">totalComissionTmpl</span></span>
    </div>
    <table class="table main">
        <tr>
            <td style="width:70%;" class="slider-td">
                sliderTmpl
            </td>
            <td>
                <table class="table bonuses">
                    <tr style="background-color: #61d836;">
                        <td>
                            percentComissionTmpl
                        </td>
                        <td>
                            5% от суммы
                        </td>
                    </tr>
                    <tr>
                        <td>
                            weekBonusTmpl
                        </td>
                        <td>
                            Недельный бонус
                        </td>
                    </tr>
                    <tr style="background-color: #e2e2e2;">
                        <td>
                            totalBonusTmpl
                        </td>
                        <td>
                            <strong style="font-size: 18px;">ИТОГО</strong>
                        </td>
                    </tr>
                    <tr style="background-color: #e2e2e2;">
                        <td>
                        </td>
                        <td>
                            <script>
                                if (bflag==0) {
                                    document.getElementById('masters').style.display='table';
                                    document.getElementById('managerstable').style.display='table';
                                    bflag=1;
                                }
                                else
                                    { document.getElementById('masters').style.display='none';
                                      document.getElementById('managerstable').style.display='none';
                                    bflag=0;
                                    }
                            </script>
                            <button onclick="if (bflag==0) { document.getElementById('masters').style.display='table'; document.getElementById('managerstable').style.display='table'; bflag=1; } else { document.getElementById('masters').style.display='none'; document.getElementById('managerstable').style.display='none'; bflag=0; }  ">показать детали</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                perMasterTmpl
            </td>
        </tr>
    </table>
</div>