RewriteEngine on

# RewriteCond %{HTTP_HOST} !^www\.(.*)
# RewriteRule (.*) http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index\.php
RewriteRule ^(.*)index.php$ /$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index\.html
RewriteRule ^(.*)index.html / [R=301,L]

Options -Indexes

<Files ~ "\.(inc)$">
    order allow,deny
    deny from all
</Files>

AddDefaultCharset utf-8

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^css/(.*?\.css)$ /index.php?chpukcomp=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^js/(.*?\.js)$ /index.php?chpukcomp=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/?(.*?)$ /admin/lcm.php?query=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /index.php?query=$1&%{QUERY_STRING} [L]